<% layout("/layouts/boilerplate.ejs") %>
<div class="m-auto my-auto">
  <h1 class="mb-3">Thank you for reservation !</h1>
  <form action="/lidting" class="text-center mt-2">
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary mb-3">Back to home</button>
    </div>
  </form>
</div>
